.data/
.venv
*.bin
lab?/demo
*.zip
test.py
__pycache__
.vscode
helloworld
lab4/lab4
otp1.txt
internal
homework1/demo/server
homework1/demo/*.o
lab5/lab_shaper/dist/client
lab5/lab_shaper/dist/client.o
lab5/lab_shaper/dist/server
lab5/lab_shaper/dist/server.o